.leaflet-tile {
  -webkit-filter: brightness(130%) saturate(110%) contrast(100%);
  filter: brightness(130%) saturate(110%) contrast(100%);
}

#map {
  background-color: #3e7480;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw;
  height: 100vh;
}

.leaflet-marker-icon {
  /* filter: hue-rotate(-40deg); */
}

.divIcon {
  margin: 0 !important;
  padding: 0 !important;
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.sr-tooltip {
  border: 0px solid rgb(255, 255, 255) !important;
  box-shadow: none;
  font-size: 18px;
  padding: 0px 6px 0px 6px !important;
  color: #ffffff;
  background-color: #0000003c;
  /* background-color: transparent; */
  border-radius: 6px;
  font-size: 0.9vw;
  text-shadow: 0em 0em 0.2em black, 0em 0em 0.3em black;
}

/* make sr tooltip arrow transparent */
.sr-tooltip::before {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

.vp-tooltip {
  padding: 0 5px !important;
  background: #0000006f;
  border: 0px solid red;
  box-shadow: none;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 0em 0em 0.2em black, 0em 0em 0.2em black, 0em 0em 0.3em black;
}

.lvi-tooltip {
  padding: 0 0 0 0px !important;
  background: none;
  border: 0px solid red;
  box-shadow: none;
  font-size: 16px;
  color: #ffffff;
  font-stretch: 50%;
  font-weight: bold;

  /* font-style: bold !important; */
  /* text-shadow: 0em 0em 0.2em black, 0em 0em 0.2em black, 0em 0em 0.3em black; */
}

/* make tooltip arrow transparent */
.vp-tooltip::before {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

#map_logo {
  width: 20px;
  height: 20px;
  padding-left: 0px;
}

.Maplogo {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0% !important;
}

.leaflet-control-attribution {
  line-height: 20px !important;
  margin-top: 0px !important;
  float: right !important;
  clear: none !important;
  background: rgba(255, 255, 255, 0.72) !important;
}

.leaflet-bottom.leaflet-left {
  display: flex !important;
  flex-direction: row;
  align-items: end;
  justify-content: flex-end;
}

.leaflet-left .leaflet-control {
  /* display: inline-block;
  float: none;
  margin-top: auto; */
}

.leaflet-control .toggle-button {
  box-sizing: border-box !important;
  border-radius: 5px !important;
  padding: 5px;
  cursor: pointer;
  /* width: 44px; */
  height: 48px;
  margin: 0;
  /* showdow around button */
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */
}
